{% extends "layout.html" %}

{% block content %}

<section id="seminar" class="background2 section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 section-title ">
				<h1>MiDAS Depth Exam</h1>

				<div class="alert alert-strong">
					<p class="text-center">
						<strong>2022 Depth Exam</strong> is scheduled for <em>December 1st and 2nd, 2022</em>.
					</p>
				</div>

				<div class="alert alert-strong">
					<p class="text-center">
						<strong>2022 Depth Exam</strong> papers are available below!
					</p>
				</div>

{%- filter markdown("color:#222") -%}

**Overview:** MiDAS depth exam is a take home exam that covers the main areas of the group: (i) data management and (ii) data mining.
These of course may span several subareas of the fields including data systems, indexing, query processing, algorithmic data mining, graph mining, etc.
Note that the department requires that the depth exam is completed on a certain schedule (see [www.bu.edu/cs/phd-program/phd-program-milestones](http://www.bu.edu/cs/phd-program/phd-program-milestones/)).

**Eligibility:** In order for a PhD student to be eligible for the MiDAS depth exam they should be (i) *advised* or *co-advised* by a MiDAS faculty member, (ii) in their second or third year, (iii) have discussed with their advisor about taking the depth exam.

**Process:** For every iteration of the depth exam MiDAS faculty will provide a list of ~24 papers that the candidates will have about two months to study.
The exam will take place at a predefined date announced in this page.
The exam will contain four (4) subjects, two (2) for each of the main areas.
All four subjects will have the nature of an open research challenge rather than one of an exercise to solve, and each candidate will select to address any three (3) of these subjects.
A depth exam will be evaluated on (a) the understanding of the research area, (b) the creativity, and ultimately (c) the correctness and the quality of the proposed approach.
The take home exam will be returned in two (2) days.

{% endfilter %}

			</div>
		</div>

		{% for category in exam.categories %}

		<div class="row">
			<div class="col-xs-12 section-title text-center">
				<h3>{{ category.name }}</h3>
				<span class="section-divider"></span>
			</div>
		</div>

		<div class="row">

			{% for paper in category.papers %}
			<div class="clearfix {{ 'visible-sm' if (loop.index - 1) % publications.view.publicationsPerSmall == 0 }} {{ 'visible-md' if (loop.index - 1) % publications.view.publicationsPerMedium == 0 }} {{ 'visible-lg' if (loop.index - 1) % publications.view.publicationsPerLarge == 0 }}"></div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h3>{{ paper.title }}</h3>
				<p>
					{{ paper.authors }}
					<br>
					{{ paper.venue }}, {{ paper.year }}
					{% if "url" in paper %}
					| <a target="_blank" href="{{ paper.url }}">Download PDF</a>
					{% endif %}
				</p>
			</div>
			{% endfor %}
		</div>

		{% endfor %}

	</div>
</section>

{% endblock %}
