<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" href="assets/images/logos/midas-favicon.png">
		<title>MiDAS Group</title>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/ionicons.min.css" rel="stylesheet">
		<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet">
		<link href="assets/css/logoiconfont.css" rel="stylesheet">

		<link href="assets/css/style.css" rel="stylesheet" title="main-css">
		<link href="assets/css/custom.css?ver=1" rel="stylesheet">

		{% block styles %}{% endblock %}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137493170-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-137493170-1');

		</script>

	</head>

	<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
		<div id="royal_preloader"></div>

		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="row">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand scroll-link" href="/#home" data-id="home">
								<div><img src="assets/images/logos/midas-logo.png" alt="logo" class="logo-img-navbar-center"></div>
							</a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/#home" data-id="home" class="scroll-link">Home</a></li>
								<li><a href="/#ideology" data-id="ideology" class="scroll-link">Research</a></li>
								<li><a href="/#services" data-id="services" class="scroll-link">Publications</a></li>
								<li><a href="/#team" data-id="team" class="scroll-link">People</a></li>
								<li><a href="seminar.html" data-id="seminar">Seminar</a></li>
								<li><a href="/#contact" data-id="contact" class="scroll-link">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>

		{% block content %}{% endblock %}

		<footer class="footer-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4 text-center">
						<div>
							<a href="http://www.bu.edu"><img src="assets/images/logos/BU-logo.png" class="BU-logo-img-center"></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text-small text-center">
						<hr>
						<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Back to top</button>
						<p class="no-margin">&copy; MiDAS Group @ BU</p>
					</div>
				</div>
			</div>
		</footer>

		{% block scripts %}{% endblock %}
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/scrollreveal.min.js"></script>
		<script type="text/javascript" src="assets/js/underscore.min.js"></script>
		<script type="text/javascript">

			/* ---- nav smooth scroll ---- */
			$(document).ready(function () {
				$('.scroll-top').on('click', function (event) {
					event.preventDefault();
					$('html, body').animate({
						scrollTop: 0
					}, 1200);
				});
			});

		</script>

	</body>

</html>
